<% if flash[:notice] || flash[:alert] %>
  <div id="flash-message"
       data-type="<%= flash[:notice] ? 'success' : 'error' %>"
       data-message="<%= j(flash[:notice] || flash[:alert]) %>">
  </div>
<% end %>
