<% [:notice, :alert].each do |type| %>
  <% if flash[type] %>
    <div class="flash <%= type %>">
      <%= flash[type] %>
      <button onclick="this.parentElement.style.display='none'" class="close-btn">X</button>
    </div>
  <% end %>
<% end %>