
.table td, .table th {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table td {
  vertical-align: middle;
}

.table {
  word-wrap: break-word;
}

.task-title {
  font-size: 0.9rem;
}

.task-event {
  margin: 2px 0 !important;
  border-radius: 2px !important;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}